div.Header {
  height: 100vh;

  div.container {
    width: 66.66%;
    margin: 0 auto;

    section.logo {
      padding: 10rem 0 2rem;
    }

    span.icon {
      display: flex;
      justify-content: center;
      svg {
        height: 80px;
      }
    }
  }
}

@media screen and (max-width: 630px) {
  div.Header {
    height: fit-content;
  
    div.container {
      width: 90%;
      margin: 0 auto;

      section.logo {
        padding: 5rem 0 0.5rem;
      }

      span.icon {
        display: flex;
        justify-content: center;
        svg {
          height: 30px;
        }
      }
    }
  }
}