@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap");
div.Header {
  height: 100vh;
}
div.Header div.container {
  width: 66.66%;
  margin: 0 auto;
}
div.Header div.container section.logo {
  padding: 10rem 0 2rem;
}
div.Header div.container span.icon {
  display: flex;
  justify-content: center;
}
div.Header div.container span.icon svg {
  height: 80px;
}

@media screen and (max-width: 630px) {
  div.Header {
    height: fit-content;
  }
  div.Header div.container {
    width: 90%;
    margin: 0 auto;
  }
  div.Header div.container section.logo {
    padding: 5rem 0 0.5rem;
  }
  div.Header div.container span.icon {
    display: flex;
    justify-content: center;
  }
  div.Header div.container span.icon svg {
    height: 30px;
  }
}
div.Main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 1s linear;
}
div.Main div.container {
  width: 66.66%;
  margin: 0 auto;
}
div.Main div.container h1 {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.Main div.menu div.item-container {
  display: flex;
  justify-content: space-between;
  width: 66.66%;
  margin: 0 auto;
}
div.Main div.menu div.item-container section.icon {
  padding: 10px;
  cursor: pointer;
  transition: 150ms linear;
}
div.Main div.menu div.item-container section.icon svg {
  height: 150px;
  fill: white;
}
div.Main div.menu div.item-container section.icon h4 {
  margin-bottom: 0;
}
div.Main div.menu div.item-container section.icon:hover {
  background: #f79000;
}
div.Main div.menu div.item-container section.icon:active {
  background: #ffa62b;
}
div.Main div.menu div.item-container section.icon:focus {
  outline: none;
}

@media screen and (max-width: 1024px) {
  div.Main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  div.Main div.container h1.desktop {
    visibility: hidden;
  }
  div.Main div.menu div.item-container section.icon svg {
    height: 120px;
    fill: white;
  }
}
@media screen and (max-width: 768px) {
  div.Main div.menu div.item-container section.icon {
    border-radius: 0;
  }
  div.Main div.menu div.item-container section.icon:hover {
    background: initial;
    box-shadow: none;
  }
}
@media screen and (max-width: 630px) {
  div.Main {
    height: fit-content;
  }
  div.Main div.container section.logo {
    display: none;
  }
  div.Main div.container h1 {
    font-size: 0.8em;
    text-align: center;
  }
  div.Main div.menu {
    background: #c47200;
  }
  div.Main div.menu div.item-container {
    flex-direction: column;
    align-items: inherit;
    justify-content: space-evenly;
  }
  div.Main div.menu div.item-container section.icon {
    padding: 20px;
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-between;
  }
  div.Main div.menu div.item-container section.icon svg {
    height: 100px;
    fill: white;
  }
  div.Main div.menu div.item-container section.icon h4 {
    display: inline;
    margin: 1.33em 0;
  }
}
div.Route {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
  overflow: hidden;
}
div.Route div.wrapper {
  padding: 20px;
}
div.Route div.wrapper svg {
  height: 30px;
}
div.Route div.card {
  background: #c47200;
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: flex-end;
  width: 0%;
  transition: width 0.8s cubic-bezier(0.93, 0.25, 0.49, 1.31);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
div.Route div.card svg {
  height: 80px;
  fill: white;
}
div.Route div.card h3 {
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
}
div.Route div.container {
  width: 66.66%;
  margin: 0 auto;
}
div.Route div.container section.content {
  padding: 30px;
}
div.Route div.container section.content p {
  color: white;
  font-size: 20px;
  font-weight: 500;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
div.Route div.container section.content p:hover {
  cursor: default;
}
div.Route div.container section.content button {
  background: #f79000;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 100ms linear;
}
div.Route div.container section.content button:hover {
  cursor: pointer;
  background: #ffa62b;
}
div.Route div.container section.content button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
div.Route div.container section.content button:focus {
  outline: none;
}
div.Route div.container footer {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
div.Route div.container footer a section {
  height: 100%;
  padding: 10px;
  transition: 100ms ease-in-out;
}
div.Route div.container footer a section:hover {
  background: #c47200;
}
div.Route div.container footer a section:active {
  background: #ffa62b;
}
div.Route div.container footer a section svg {
  height: 100px;
  fill: white;
}
div.Route div.container#footer {
  height: 0em;
  transition: height 0.2s ease-out;
}

@media screen and (max-width: 768px) {
  div.Route div.wrapper {
    padding: 20px;
  }
  div.Route div.card svg {
    height: 60px;
  }
}
@media screen and (max-width: 630px) {
  div.Route div.wrapper {
    padding: 20px;
  }
  div.Route div.wrapper svg {
    display: block;
    margin: 0 auto;
  }
  div.Route div.card svg {
    height: 40px;
  }
  div.Route div.container {
    width: 90%;
  }
  div.Route div.container footer a section {
    padding: 10px;
  }
  div.Route div.container footer a section svg {
    display: block;
    margin: 0 auto;
    height: 40px;
    fill: white;
  }
  div.Route div.container footer a section h4 {
    font-size: 10px;
  }
}
section.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #111;
  position: fixed;
  width: 100%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 70%;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  transition: 0.8s ease-out;
}
section.sidebar div.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
section.sidebar div.header svg {
  display: inline-block;
  height: 70px;
  transform: rotate(270deg);
  transition: 0.7s cubic-bezier(0.59, 0.4, 0.31, 1.25);
}
section.sidebar div.header svg:hover {
  cursor: pointer;
}
section.sidebar div.header h1 {
  width: 70%;
  color: #ddd;
  display: inline-block;
  text-align: center;
  font-size: 26px;
}
section.sidebar div#mc_embed_signup {
  width: 90%;
  height: 60%;
  margin: 0 auto;
}
section.sidebar div#mc_embed_signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
section.sidebar div#mc_embed_signup form div.mc-field-group {
  margin: 5% 0;
  width: 100%;
  text-align: center;
}
section.sidebar div#mc_embed_signup form div.mc-field-group input {
  padding: 0.8em;
  border: none;
  border-bottom: 1px solid #c47200;
  width: 80%;
  background: transparent;
  color: #eee;
  text-transform: capitalize;
  font-size: 16px;
}
section.sidebar div#mc_embed_signup form div.mc-field-group#email input {
  text-transform: lowercase;
}
section.sidebar div#mc_embed_signup form div#selects div.select select {
  background: #333;
  color: #bbb;
  border: 1px solid #c47200;
  border-radius: 2px;
  width: 90%;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}
section.sidebar div#mc_embed_signup form button {
  background: #f79000;
  border: none;
  padding: 1em 2em;
  font-size: 16px;
  width: 90%;
  color: white;
  transition: 0.2s linear;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
section.sidebar div#mc_embed_signup form button:hover {
  background: #ffa62b;
  cursor: pointer;
}
section.sidebar div#mc_embed_signup form button:disabled {
  background: #ddd;
}
section.sidebar div#mc_embed_signup form button:disabled:hover {
  cursor: default;
}
section.sidebar div.container {
  width: 70%;
  margin: 0 auto;
}
section.sidebar div.container div.contact {
  display: flex;
  justify-content: space-between;
}
section.sidebar div.container div.contact h6 {
  color: #c47200;
  font-weight: 400;
  font-size: 14px;
}

section.sidebar.hidden {
  background-color: #111;
  position: fixed;
  top: 0%;
  right: 0%;
  bottom: 0%;
  left: 100%;
  max-height: 100vh;
  box-shadow: none;
}
section.sidebar.hidden div.header svg {
  transform: rotate(90deg);
}

@media screen and (max-width: 1440px) {
  section.sidebar {
    width: 65%;
    left: 35%;
  }
  section.sidebar div.header svg {
    height: 48px;
  }
  section.sidebar div.header h1 {
    font-size: 14px;
    text-align: right;
  }
  section.sidebar div#mc_embed_signup form div.mc-field-group {
    margin: 0;
  }
  section.sidebar div#mc_embed_signup form div.mc-field-group input {
    font-size: 11px;
  }
  section.sidebar div#mc_embed_signup form div.mc-field-group#selects div.select select {
    font-size: 11px;
  }
  section.sidebar div#mc_embed_signup form button {
    font-size: 14px;
    padding: 0.7rem;
  }
  section.sidebar div.container div.contact h6 {
    color: #c47200;
    font-weight: 400;
    font-size: 9px;
  }
}
@media screen and (max-width: 630px) {
  section.sidebar {
    width: 100%;
    left: 0%;
  }
  section.sidebar div.header svg {
    height: 24px;
  }
  section.sidebar div.header h1 {
    font-size: 14px;
    text-align: right;
  }
  section.sidebar div#mc_embed_signup form div.mc-field-group {
    margin: 0;
  }
  section.sidebar div#mc_embed_signup form div.mc-field-group input {
    font-size: 11px;
  }
  section.sidebar div#mc_embed_signup form div.mc-field-group#selects div.select select {
    font-size: 11px;
  }
  section.sidebar div#mc_embed_signup form button {
    font-size: 14px;
    padding: 0.7rem;
  }
  section.sidebar div.container div.contact h6 {
    color: #c47200;
    font-weight: 400;
    font-size: 9px;
  }
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background: #444444;
}

.landing-page {
  background-image: url(/static/images/quad-bg.png);
  background-color: #444444;
  background-size: cover;
  background-attachment: fixed;
  background-position-x: right;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
}

div#loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #dddddd;
}
div#loading svg {
  width: 80%;
}

.enjoy {
  background-image: url(/static/images/enjoy.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.5s linear;
}

.search {
  background-image: url(/static/images/search.png);
  background-size: cover;
  background-attachment: fixed;
  background-position-x: right;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.5s linear;
}

.visit {
  background-image: url(/static/images/visit.png);
  background-size: cover;
  background-attachment: fixed;
  background-position-x: right;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.5s linear;
}

/*# sourceMappingURL=index.css.map */

div.mform {
  padding: 5rem 0 2rem;
}

div.mform div.header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
div.mform div.header svg {
  display: inline-block;
  height: 70px;
  transform: rotate(270deg);
  transition: 0.7s cubic-bezier(0.59, 0.4, 0.31, 1.25);
}
div.mform div.header svg:hover {
  cursor: pointer;
}
div.mform div.header h1 {
  width: 70%;
  color: #ddd;
  display: inline-block;
  text-align: center;
  font-size: 62px;
}
div.mform div#mc_embed_signup {
  width: 90%;
  height: 60%;
  margin: 0 auto;
}
div.mform div#mc_embed_signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
div.mform div#mc_embed_signup form div.mc-field-group {
  margin: 5% 0;
  width: 100%;
  text-align: center;
}
div.mform div#mc_embed_signup form div.mc-field-group input {
  padding: 0.8em;
  border: none;
  border-bottom: 1px solid #c47200;
  width: 80%;
  background: transparent;
  color: #eee;
  font-size: 16px;
}
div.mform div#mc_embed_signup form div.mc-field-group#email input {
  text-transform: lowercase;
}
div.mform div#mc_embed_signup form div#selects div.select select {
  background: #333;
  color: #bbb;
  border: 1px solid #c47200;
  border-radius: 2px;
  width: 90%;
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}
div.mform div#mc_embed_signup form button {
  background: #f79000;
  border: none;
  padding: 1em 2em;
  font-size: 16px;
  width: 60%;
  color: white;
  transition: 0.2s linear;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
div.mform div#mc_embed_signup form button:hover {
  background: #ffa62b;
  cursor: pointer;
}
div.mform div#mc_embed_signup form button:disabled {
  background: #ddd;
}
div.mform div#mc_embed_signup form button:disabled:hover {
  cursor: default;
}
div.mform div.container {
  width: 70%;
  margin: 0 auto;
}
div.mform div.container div.contact {
  display: flex;
  justify-content: space-between;
}
div.mform div.container div.contact h6 {
  color: #c47200;
  font-weight: 400;
  font-size: 14px;
}
